<div class="container">
    <div class="user-menu">
        <tabset [vertical]="true" type="pills">
            <tab heading="Contul meu"></tab>
            <tab heading="Comenzile mele"></tab>
            <tab heading="Date personale"></tab>
            <tab heading="Setari"></tab>
            <tab heading="Logout"></tab>
        </tabset>
    </div>
    <div class="user-data">
        <button class="btn btn-primary"></button>
    </div>
</div>

