.container{
    padding-right: 500px;
    width: 1050px;
    display: flex;
    justify-content: space-between;
}

.user-menu {
    width: 300px;
}
.user-data {
    display: flex;
    justify-content: center;
}