<div class="page">

    <div class="mapouter">
        <div class="gmap_canvas"><iframe width="1038" height="500" id="gmap_canvas"
                src="https://maps.google.com/maps?q=farmacie%20brasov%20centrul%20vechi&t=&z=13&ie=UTF8&iwloc=&output=embed"
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                href="https://google-map-generator.com">google map generator</a></div>
    </div>


    <div class="col-md-6 col-sm-30">
        <h2>CONTACTATI-NE:</h2>
        <div>Telefon: 0746 088 867
            <div>Fax: xxxx xxxxx xxxx
                <div>Email: ThePharmacy@pharmacy.com
                    <p></p>

                    <div class="social">
                        <a href="https://www.facebook.com/selaruemilia">
                           <fa-icon class="fa-icon" [icon]="faFacebookSquare"></fa-icon></a>
                        <a href="https://www.facebook.com/alex.risnoveanu">
                           <fa-icon class="fa-icon" [icon]="faInstagram"></fa-icon></a>
                        <a href="https://www.facebook.com/elena.stroie.5494">
                           <fa-icon class="fa-icon" [icon]="faTwitterSquare"></fa-icon></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>