@import '../../../../assets/styles/_colors';


.page {

  border-radius: 25px;
  width: 100%;
  height: 100%;
  
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  
  background-color: $app-lighter-blue;
  color: $base-white;
}

.mapouter {
  position: left;
  text-align: right;
  height: 500px;
  width: 1038px;
}

.gmap_canvas {
  border-radius: 25px;

  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 1038px;
}

.social {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 130px;
}

a {
  font-size: 23px;
  color: $base-white;
  text-decoration: none;
}