@import "../../../assets/styles/_colors";

fa-icon {
    font-size: 1.7em;
    color: $app-lighter-blue;
}

button {
    background-color: transparent;
    border : none;
    outline: none;
    color: $app-lighter-blue;
}

#border{
    border-width: 2px ;
    border-radius: 5px;
    border-style: solid;
    border-color: yellowgreen;
}
