<div class="btn-group" dropdown>
  <fa-icon class="fa-icon" [icon]="faUserCircle"></fa-icon>
  <button type="button" (click) = "onUserAccount()"> {{ isAuthentificated ? 'Contul meu' : 'Autentificare' }}</button>
  <button  *ngIf="isAuthentificated" id="button-split" type="button" dropdownToggle class="dropdown-toggle dropdown-toggle-split"
          aria-controls="dropdown-split">
    <span class="caret"></span>
    <span class="sr-only">Split button</span>
  </button>
  <div *ngIf="isAuthentificated">
    <ul id="dropdown-split"
    *dropdownMenu
     class="dropdown-menu"
    role="menu" 
    aria-labelledby="button-split"
    >
  <li role="menuitem"><a class="dropdown-item" href="#">Salut , {{userFullName}}</a>
  </li>
  <li class="divider dropdown-divider"></li>
  <li role="menuitem"><a class="dropdown-item" href="#">Contul meu</a></li>
  <li role="menuitem"><a class="dropdown-item" href="#">Comenzile mele</a></li>
  <li role="menuitem"><a class="dropdown-item" href="#">Date personale</a></li>
  <li class="divider dropdown-divider"></li>
  <li role="menuitem"><a class="dropdown-item" href="#">Logout</a>
  </li>
</ul>
  </div>
</div>