<div class="card product">
    <img [src]="product.imageSrc" [height]="400" [width]="500">
    <div class="card-body">
        <h4>{{product.title}}</h4>
        <p class="product-description">
            {{product.description}}
        </p>
    </div>
</div>