.container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 15px;
}

html {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

.footer {
  flex-shrink: 0;
}
