@import '../../../assets/styles/_colors';

.top_menu {
  padding: 50px 150px;
  
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  justify-content: space-between;
}

img{
  width: 145px;
}

.search_bar {
  input[type="text"] {
    padding: 10px;
    width: 500px;
    
    border-style: solid;
    border-width: thin;
    border-color: $cornflowerblue;

    margin-top: 20px;

    font-size: 17px;
    text-align: left;
  }
}

.button_search {
  padding: 10px;

  border-style: solid;
  border-width: thin;
  border-left: none;
  border-color: $cornflowerblue;

  font-size: 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button_profil {
  padding: 10px 20px;

  border-style: solid;
  border-width: thin;
  border-color: $cornflowerblue;
  color:$cornflowerblue;
  background-color: transparent;
  text-decoration-style: none;
  text-decoration: none;
  outline:none;
  margin-top: 20px;

  font-size: 17px;
  text-align: center;
  
  display: inline-block;
}

.menu_buttons {
  padding: 0 150px;
  height: 58px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;
  background-color: $light-gray;

  a {
    float: left;
    color: $dark-gray;
    padding: 16px 50px;

    flex: 1;

    text-decoration: none;
    text-align: center;
    font-size: 17px;

    &:hover {
      background-color: $light-gray;
      color: $base-black;
    }

    &.active {
      background-color: $app-blue;
      color: $base-white;
    }
  }

  .btn {
    padding: 10px 130px;
    font-size: 23px;
  }
}

img {
  padding: 10px;
  width: 110px;
  height: 100px;
}

