<div class="top_menu">

    <a href="" [routerLink] = "'/home'">
        <img src="../../../assets/images/logo.png" />
    </a>

    <div class="search_bar">
        <input type="text" placeholder="Search.." />
        <a href="#" class="button_search">
            <fa-icon class="fa-icon" [icon]="faSearch"></fa-icon>
        </a>

    </div>

    <div>
        <button id="auth-button" class="button_profil" (click) = "onUserAccount()"> 
            <fa-icon class="fa-icon" [icon]="faUser"></fa-icon>
            {{ isAuthentificated ? 'Contul meu' : 'Autentificare' }}
        </button>
    </div>

</div>


<div class="menu_buttons">
    <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-basic">
            <fa-icon class="fa-icon" [icon]="faBars"></fa-icon>
            <span> Produse </span>
            <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" href="#">TipProdus#1</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">TipProdus#2</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">TipProdus#3</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">TipProdus#4</a></li>
        </ul>
    </div>
    
    <a href="#" [routerLink] = "'/dictionary'">Dictionar</a>
    <a href="#" [routerLink] = "'/about'">About</a>
    <a href="#" [routerLink] = "'/contact'">Contact</a>
    <a href="#">
        <fa-icon class="fa-icon" [icon]="faShoppingCart"></fa-icon>
    </a>
</div>