@import "../../../assets/styles/_colors";

.container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.container_form{
    display: flex;
    justify-items: center;
    flex-direction: column;
    box-sizing: border-box;
    margin: 10px;
    border-style: solid;
    border-width: thin;
    border-color: $cornflowerblue;
}

.title{
    
    padding: 40px 0px 0px 0px;
    align-self:center;
    font-size: 38px;
    font-weight: 1;
    color: $cornflowerblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form{
    padding: 20px 40px 40px 40px;
}

.row{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-bottom: 10px;
}

.error{
    align-self: start;
}

.submit_button{
    border-style: solid;
    border-width: thin;
    border-color: $cornflowerblue;
    color:#587ec5;
    background-color: transparent;
    text-decoration: none;
    width:100px;
    height:40px;
    font-size: 17px;
    text-align: center;
    font-family: 'Segoe UI', Geneva, Verdana, sans-serif;
    font-weight: 100;
    outline:none;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 16px;
}
.switch_button {
    border-style: none;
    width: 180px;
    height:40px;
    color:$cornflowerblue;
    background-color: transparent;
    text-decoration: none;
    text-decoration-style: none;
    font-family: 'Segoe UI', Geneva, Verdana, sans-serif;
    font-size: 15px;
    outline:none;
    margin-left: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
}