<div class="container" *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
</div>
<div class="container_form">
    <p class="title">{{ isLoginMode ? 'Member Login' : 'Sign Up' }}</p>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
        <div class="row" *ngIf="!isLoginMode">
            <label for="fullName">Full Name</label>
            <input type="text" id="fullName" class="form-control" placeholder="e.g. John Smith" (click)="errorMessage = null" ngModel name="fullName" required>
        </div>
        <div class="row">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" placeholder="email@example.com" (click)="errorMessage = null"  ngModel name="email" required email>
        </div>
        <div  class="row">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" (click)="errorMessage = null" ngModel name="password" required minlength="6">
        </div>
        <div class="row">
            <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
        </div>  
        <div class="row">
            <button id="login" class="submit_button" type="submit">
                {{ isLoginMode ? 'Login' : 'Sign Up' }}
            </button>
            <button class="switch_button" (click)="onSwitchMode(authForm)" type="button">
                Switch to
                {{ isLoginMode ? 'Sign Up' : 'Login' }}
            </button>
        </div>
    </form>
</div>

