<carousel [itemsPerSlide]="itemsPerSlide" [singleSlideOffset]="singleSlideOffset" [noWrap]="noWrap" [interval]="false"
  [startFromIndex]="5">
  <slide *ngFor="let slide of slides; let index=index">
    <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
  </slide>
</carousel>

<div class="product-list">
  <div *ngFor="let product of products">
    <app-product [product]="product"></app-product>
  </div>
</div>