$base-black: #000000;
$base-white: #ffffff;

$light-gray: #dddddd;
$dark-gray: #333333;

$app-blue: #0026ff;
$app-lighter-blue: #2e6bb9;
$cornflowerblue: #6495ed;

$lavander: #ae88df;
$shadow: rgba(0,0,0,0.2);
